html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff5f8;
    font-family: "cabin";
    border-style: none solid;
    border-width: 5rem;
    border-color: #fcaea4;
}

h1, h2, h3 {
    font-family: "Lemonada";
    font-weight: 300;
}

h3 {
    font-weight: 500;
}

/* header */

#header ul {
    list-style: none;
    overflow: hidden;
    margin: 0;          
    background-color: #a41942;
}

#header li {
    float: left;
    color: #fff5f8;
}

#header a {
    display: block;
    text-align: justify;
    padding: 1rem;
    color: #fff5f8;
    text-decoration: none;
}

#header a:hover {
    color: #fcaea4;
}

#name {
    display: block;
    text-align: justify;
    font-size: 24px;
    font-family: "Lemonada";
}

.toggle {
    display: none;
}

.close {
    display: none;
}

.menu-button {
    display: none;
}
/*Biography*/

img {
    width: 50%;
    max-width: 500px;
}
/*Projects*/

/*Links*/

/*Breakpoint*/

@media (max-width: 768ox) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        transform: translateX(-100%);
        background-color: #a41942;
        transition: left 0.8s ease;
        z-index: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(25px);
        opacity: 0;    
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeInUp-animation {
    animation: fadeInUp 1.2s ease-in;
}

/* colors 
780a2b = text
a41942 = secondary
f07269 = error 
fcaea4 = accent color
fff5f8 = background */