html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff5f8;
    font-family: "cabin";
    color: #780a2b;
}

h1, h2, h3 {
    font-family: "Lemonada";
    font-weight: 300;
}

h1 {
    font-size: 128px;
    align-content: center;
}

main {
    padding-left: 2rem;
}

img {
    max-width: 500px;
    height: auto;
}

/* header/navigation */
#header ul {
    list-style: none;
    overflow: hidden;
    margin: 0;          
    background-color: #a41942;
}

#header li {
    float: left;
    color: #fff5f8;
}

#header a {
    display: block;
    text-align: justify;
    padding: 1rem;
    color: #fff5f8;
    text-decoration: none;
}

#header a:hover {
    background-color: #fcaea4;
    color: #a41942;
}

#name {
    display: block;
    text-align: justify;
    font-size: 24px;
    font-family: "Lemonada";
    padding-right: 1rem;
}

.toggle {
    display: none;
}

.close {
    display: none;
}

.mobile-header {
    display: none;
}

.menu-button {
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
    position: sticky;
    top: 0px;
    align-self: flex-start;
    padding-top: 2.1rem;
    padding-left: 2.1rem;
}

.menu-button span {
    width: 60px;
    height: 7px;
    background-color: #a41942;
    border-radius: 15px;
    transition: all 0.5s ease;
}


/*Welcome*/
 
#Welcome { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#Welcome h1, h3 {
    margin: 0;
}

#Welcome h3 {
    font-size: 44px;
    line-height: 44px;
}

.subtitle {
    display: flex;
    flex-direction: column;
    line-height: normal;
}

/*Biography*/

.bio-content {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.bio-content p {
    font-size: 24px;
}

.bio-content h3 {
    font-size: 64px;
}
.biography {
    flex: 1;
}

#selfie {
    width: 20rem;
    border: groove 15px #fcaea4;
}

/*Projects*/

.project {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
    max-width: 100%;
    height: auto;
}

.project-row {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
}

.project-row p {
    flex: 1;
    margin: 0;
}

.project-example:hover {
    transform: translateY(-10px);
    transition: all 0.5s ease;
    box-shadow: -4px 4px rgba(164, 25, 66, 0.5);
}

/*Links*/

/*contact page*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    margin: 15px;
    font-family: "cabin";
}

form input {
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff5f8;
}

form textarea {
    width: 50%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff5f8;
    font-family: "cabin";
}

form #submit {
    background-color: rgb(164, 25, 66);
    color: #fff5f8;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form #submit:hover {
    background-color: #fff5f8;
    color: #a41942;
    box-shadow: -4px 4px rgba(164, 25, 66, 0.5);
}

.name-row {
    display: flex;
    gap: 10px;
    width: 50%;
    align-items: center;
}

.form-group input {
    width: 100%;
}

/*Breakpoint*/

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    img {
        max-width: 250px;
    }

    #Welcome h1 {
        font-size: 48px;
        line-height: 1;
    }

    #Welcome h3 {
        font-size: 20px;
        line-height: 1;
    }

    .subtitle {
        flex-direction: row;
        gap: 15px;
    }

    .bio-content {
        max-width: fit-content;
        align-items: center;
        flex-direction: column;
    }

    .project {
        flex-direction: column;
        margin: 0;
        margin-bottom: 15px;   
    }
    
    .project-row {
        flex-direction: column;
    }
    .name-row {
        flex-direction: column;
        width: 100%;
    }

    input {
        width: 100%;
    }

    .mobile-header {
        display: flex;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        transform: translateX(-100%);
        background-color: #a41942;
        transition: left 0.8s ease;
        z-index: 1000;
    }

    .close {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 24px;
        color: #fff5f8;
        cursor: pointer;
    }

    .toggle:checked ~ .sidebar {
        transform: translateX(0);
    }

    .toggle:checked ~ .sidebar::before {
        content: "";
        position: fixed;
        top: 0;
        left: 300px;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    #header ul {
        padding-top: 2rem;
    }

    #header li {
        float: none;
    }

}

/*Footer*/

footer {
    background-color: #a41942;
    color: #fff5f8;
    text-align: center;
    padding: 0.5rem;
}

 footer a {
        color: #fff5f8;
        text-decoration: underline;
    }


/*Animation*/
@keyframes fadeInUp {
    0% {
        transform: translateY(25px);
        opacity: 0;    
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeInUp-animation {
    animation: fadeInUp 1.2s ease-in;
}

/* colors 
780a2b = text
a41942 = secondary
f07269 = error 
fcaea4 = accent color
fff5f8 = background */