main {
    background: radial-gradient(72.72% 51.95% at 79.83% 25.78%, #F0F1F2 0%, #9FADBF 100%);
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}
/* sidebar */

.sidebar {
    width: max-content;
    position: sticky;
    top: 1rem;
}

.sidebar ul {
    padding-left: 0%;
}
.sidebar li {
    list-style: none;
    font-family: "Mozilla Text";
    font-size: 48px;
    background-color: #525459;
    line-height: 5rem;
}

.sidebar a {
    color:#F0F1F2;
    text-decoration: none;
}

.sidebar a:active {
    max-width: fit-content;
    color: #525459;
    background-color: #1DF2DD;

}
/* header styling*/
header {
    font-family: "Science Gothic";
    font-style: italic;
    font-size: 1.75rem;
    background-color: #E36E4B;
    border: 10px solid #E36E4B;
    color: #F0F1F2;
    line-height: 50%;
}
header h2 {
    font-size: 1.5rem;
}

/* main content */

.container {
    display: flex;
    padding: 1rem;
    gap: 1.5rem;
}

.content {
    flex: 1;
    padding: 1rem;
}

.content section {
    background-color: #F0F1F2;
    padding: 1rem;
    margin-bottom: 3rem;
    border-top: 20px solid #3F5073;
}

.content h2 {
    font-family: "Science Gothic";
    font-style: italic;
}

.content p, ul, li {
    font-family: "Mozilla Text";
}

.content li {
    line-height: 2rem;
}