html {
    scroll-behavior: smooth;
}

main {
    background: radial-gradient(72.72% 51.95% at 79.83% 25.78%, #F0F1F2 0%, #9FADBF 100%);
    margin: 0%;
    padding: 0%;
}
/* sidebar */

.sidebar {
    width: 300px;
    height: auto;
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

.sidebar ul {
    padding-left: 5%;
}
.sidebar ul li {
    list-style: none;
    font-family: "Mozilla Text";
    background: #525459;
    font-size: 48px;
    line-height: 5rem;
    margin-bottom: 2rem;
}

.sidebar a {
    color:#F0F1F2;
    text-decoration: none;
    margin: 1rem;
}

.sidebar a:active {
    width: 300px;
    color: #525459;
    background-color: #1DF2DD;

}

/* remember mobile nav styling */

/* header styling*/
header {
    font-family: "Science Gothic";
    font-style: italic;
    font-size: 1.75rem;
    background-color: #E36E4B;
    border: 10px solid #E36E4B;
    color: #F0F1F2;
    line-height: 50%;
}
header h2 {
    font-size: 1.5rem;
}

/* add overwatch logo decoration (meaning alt isn't needed */ 

/* main content */

.container {
    display: flex;
    padding: 1rem;
    gap: 1.5rem;
}

.content {
    flex: 1;
    padding: 1rem;
}

.content section {
    background-color: #F0F1F2;
    padding: 1rem;
    margin-bottom: 3rem;
    border-top: 20px solid #3F5073;
}

.Back-to-top {
    font-family: "Mozilla Text";
    display: inline-block;
    text-decoration: none;
    padding: 0.25rem;
}

.Back-to-top:hover {
    background-color: rgba(29, 242, 221, 0.5);
    border-radius: 5px;
    padding: 0.25rem;
}

.content h2, h3 {
    font-family: "Science Gothic";
    font-style: italic;
}

.content p, ul, li {
    font-family: "Mozilla Text";
    line-height: normal;
}

.content li {
    line-height: 2rem;
}

/* find and add 5 decorative elements to each section 
(overwatch logo, role icon, skill icon, gameplay icon, event icon, BP icon) */ 