html {
    scroll-behavior: smooth;
}

/* main content */

body {
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvcHg2NTA4NDctaW1hZ2Utam9iNjMwLWctbDBnMDlscTUuanBn.jpg);
    background-color: rgba(255, 232, 206, 0.8);
    background-blend-mode: color-burn;
}

h1, h2, h3 {
    font-family: "newsreader";
    color: #331d00;
}

h1 {
    font-size: 72px;
    padding-left: 2%;
}

p, li {
    font-family: "macondo"
}

.container {
    display: flex;
    padding: 5px;
}


img {
    width: 60%;
}

/* header */

#header ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    background-color: #331d00;
}

#header li {
    float: left;
}

#header a {
    display: block;
    color: #FFF7f0;
    text-align: justify;
    padding: 1rem;
    text-decoration: dotted;
}

#header a:hover {
    background-color: #4F2B07;
}

#brand-name {
    font-family: "Newsreader";
    font-size: 24px;
    color: #FFE8CE;
    padding: 1rem;
}

/* Video */

#overview li {
    display: inline-block;
    margin-left: 15px;
}

iframe {
    display: block;
    margin-right: auto;
    padding-top: 5%;
}

/* subscription plans */

.plan {
    background-color: #FFF7f0;
    border-radius: 25px;
    border-left: 15px solid #331d00;
    padding-left: 2%;
    padding-right: 2%;
    margin: 15px;
    
}

.plan h2 {
    font-family: "Macondo";
    font-size: 32px;
}

.plan li {
    padding-bottom: 5%;
}

.plan:hover {
    transform:translateY(-10px);
    transition: all 0.3s ease;
    box-shadow: -8px 8px rgba(51, 29, 0, 0.5);
}

/* table */

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF7f0;
    font-family: "Macondo";
}

table th, table td {
    border: 2px double #331d00;
    padding: 8px;
    text-align: left;
}

#table-header {
    background-color: #4F2B07;
    color: #FFF7f0;
    font-family: "Newsreader";
    font-size: 24px;
}

/* media queries */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #plan {
        margin: 0;
        margin-bottom: 15px;
    }


}

/* contact form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    margin: 15px;
    font-family: "Macondo";
}

form input {
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Macondo";
}

form textarea {
    width: 50%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Macondo";
}

form #submit {
    background-color: #4F2B07;
    color: #FFE8CE;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form #submit:hover {
    background-color: #ffe8ce;
    color: #4F2B07;
    border: 1px solid #4F2B07;
}

/* Footer */

footer {
    background-color: #4F2B07;
    color: #FFF7f0;
    text-align: center;
    padding: 0.5rem;
    a {
        color: #ffe8ce;
        text-decoration: underline;
    }
}

/* animation */


@keyframes fadeInUp {
    0% {
        transform: translateY(25px);
        opacity: 0;    
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeInUp-animation {
    animation: fadeInUp 1.2s ease-in;
}
/* main colors are:
1. Seashell aka #FFF7F0
2. Soft Apricot aka #FFE8CE
3. Dark Walnut aka #4F2B07
4. Dark Coffee aka #331D00 */